<footer class="footer1 mb-0" style="background-color: rgb(237, 251, 246);">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-4 col-md-4">
                <div class="mailme">
                    <div class="mailmeContent">
                        <p>Əlaqə və qurucu haqqında</p>
                        <address>
                            <b>Web sayt yaradicisi:</b> Sahib Fərhadov<br>
                            <b>E-mail:</b> SahibCebrayilli@gmail.com
                        </address>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4">
                <a class="link-dark" href="{% url 'home' %}">Əsas səhifə</a>
            </div>
            <div class="col-lg-4">3</div>
        </div>
    </div>
</footer>