.dark_mode,.light_mode{
	cursor: pointer;
}
.light_mode{
	display: none;
}
body{
	transition: all ease 1s;
}
#id_dark_mode,#id_light_mode{
	border:1px solid lightgreen;
	padding:5px;
	border-radius: 20px;
}