.navbarLink{
    font-size:18px;
}
.nav-item .nav-link span.yaz{
    display: none;
    margin-left: 10px;
}
.nav-item .nav-link span.ayarlar{
    display: none;
    margin-left: 10px;
}
.nav-item .nav-link span.cixish{
    display: none;
    margin-left: 10px;
}
.nav-item .nav-link span.rejim{
    display: none;
    margin-left: 10px;
}
.kateqoriyaText{
    color:green
}

@media screen and (max-width: 991px) {
  #mvOffcanvasLink{
    display: none;
  }
  .nav-item .nav-link span.yaz{
    display: inline;
    margin-left: 10px;
}

.nav-item .nav-link span.ayarlar{
    display: inline;
    margin-left: 10px;
}
.nav-item .nav-link span.cixish{
    display: inline;
    margin-left: 10px;
}
.nav-item .nav-link span.rejim{
    display: inline;
    margin-left: 10px;
}
}