{%load static%}
  <nav class="navbar sticky-top navbar-expand-lg">
    <div class="container">
      <a class="navbar-brand" href="{%url 'home'%}" title="Elektroblog">
        <img src="{%static 'img/brand.png'%}"  alt="brand" class="d-inline-block" width="48" height="48">
        <strong style="font-size:25px;">Elektroblog</strong>
      </a>
      <button title="toggler_button" class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
        <div class="offcanvas-header">
          <h3 class="offcanvas-title" id="offcanvasDarkNavbarLabel" style="font-family: monospace;">
            {%if user.is_authenticated%}
              <div>Salam, <b>{{user.first_name|title}}</b></div>
            {%else%}
              <div>Salam, Qonaq</div>
            {%endif%}
          </h3>
          <button type="button" class="btn-close btn-close-dark" data-bs-dismiss="offcanvas" aria-label="Close" style="font-size:20px;"></button>
        </div>
        <div class="offcanvas-body">
          <hr>
          <ul class="navbar-nav me-auto ">
            {%if user.is_authenticated%}
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="{%url 'meqale_yaz'%}" style="display:flex;align-items:center" title="Məqalə yazın...">
                  <span class="material-icons-round">create</span>
                  <strong class="navbarLink" style="text-decoration: none;">
                      Məqalə yaz
                  </strong>
                </a>
            {%endif%}
            </li>
          </ul>

          <ul class="navbar-nav ms-auto ">
            {%if user.is_authenticated%}
              <li class="nav-item">
                  <a class="nav-link" aria-current="page" href="{%url 'profile' %}" >
                    <strong style="display:flex;align-items:center;text-decoration:none">
                        <span class="material-icons-round">settings</span>
                        <span class="navbarLink">Tənzimləmələr</span>
                    </strong>
                  </a>
              </li>
              <li class="nav-item me-0">
                <a class="nav-link" aria-current="page" href="{%url 'logout'%}" title="Hesabdan çıx" >
                  <strong class="navbarLink" style="display:flex;align-items:center; text-decoration: none;">
                    <span style="margin-right: 3px;">Hesabdan çıx</span>
                    <span class="material-icons-round">logout</span>
                  </strong>
                </a>
              </li>
            {%else%}
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="{%url 'register'%}">
                  <strong class="navbarLink">
                    Qeydiyyatdan keç
                  </strong>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="{%url 'login'%}">
                  <strong class="navbarLink">
                    Daxil ol
                  </strong>
                </a>
              </li>
            {%endif%}
            {%if user.is_authenticated%}
              <li class="nav-item">
                  <div class="nav-link" aria-current="page" href="{%url 'profile' %}" id="id_mode_container">
                    <span class="material-icons-round dark_mode" id="id_dark_mode">dark_mode</span>
                    <span class="material-icons-round light_mode" id="id_light_mode">light_mode</span>
                  </div>
              </li>
            {%endif%}
          </ul>
        </div>
      </div>
    </div>
  </nav>