{% extends 'base.html' %}
{% load static %}
{% block styles %}
    <link rel="stylesheet" type="text/css" href="{%static 'blog/css/blog-details.css'%}">
{% endblock  %}
{% block title %}
    Elektroblog | {{blog.category}} | {{blog.titleofblog}} 
{% endblock %}
{%block meta_elements%}
<meta name="author" content="{{userBlog.first_name|title}} {{userBlog.last_name|title}}">
<meta name="keywords" content="Elektroblog, elektrik cereyani,enerji,{{blog.titleofblog}}">
{%endblock%}

{%block content%}
<div class="container-fluid mt-4">
    <div class="row border pt-2">
        <div class="col-md-3 col-lg-3 col-xl-2 col-xxl-2" id="sol-element">
            <div class="sol-element" style="margin-left:0px;margin-right:0px">
                <p>
                    <div>
                        {%if userBlog is not None%}
                            Yazan: <b>{{userBlog.first_name|title}} {{userBlog.last_name|title}}</b>
                        {%else%}
                            <div class="h5">Yazan: <b>Məlum deyil</b></div>
                        {%endif%}
                    </div>
                <p>
                    <small><b>Yaradıldı:</b> {{blog.lastmodified|date:"j F Y"}}</small><br>
                    <small><b>Redaktə edildi:</b> {{blog.borndate|date:"j F Y"}}</small>
                </p>
            </div>
        </div>
        <div class="col-md-9 col-sm-12 col-lg-7 col-xl-8 col-xxl-8" style="word-wrap: break-word;">
            <div class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-2"></div>
                        <div class="col-md-8">
                            <h2 class="title text-center">{{blog.titleofblog}}</h2>
                            <img class="img-fluid" src="{{blog.image.url}}" alt="{{blog.img}}">
                        </div>
                        </div>
                        <div class="col-md-2"></div>
                    </div>
                </div>
                <div class="container-fluid">
                    {{blog.description|safe}}
                </div>
            </div>
        
        <div class="col-md-12 col-lg-2 col-xl-2 col-xxl-2" id="sag-element">
            <div class="sag-element">
                Sag elementler
            </div>
        </div>
    </div>
    </div>
</div>

{% endblock %}

