{% extends 'base.html' %}
{% load static %}
{% block styles %}{% endblock  %}
{% block title %}Elektroblog | Əsas səhifə{% endblock %}
{%block meta_elements%}
    {%if user.is_authenticated%}
    <meta name="author" content="{{user.get_full_name|title}}">
    {%endif%}
{%endblock%}

{% block meta_elements %}
    <meta name="creator" content="Elektroblog by Sahib Farhadov">
    <meta name="keyword" content="Elektroblog, elektrik enerjisi, avtomatika, proqramlaşdırma">
{% endblock %}
{% block content %}

<div class="container-fluid mt-4">
    <div class="row">
        <div class="col-md-3">
            <div style="text-align:center">
                <div>
                    <p>{%include 'Blog/partials/_categories.html'%}</p>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            {%if blogs and blogs|length > 10%}
            <div class="row">
                <div class="col">
                <div class="btn-group dropdown-center">
                  <a class="btn btn-primary dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Göstər</a>
                  <ul class="dropdown-menu">
                      {%for gosterme_element in gosterme_elements %}
                        <li><a href="?gosterme_sayi={{gosterme_element}}" class="dropdown-item {%if gosterme_element == gosterme_sayi%}active{%endif%}">{{gosterme_element}}</a></li>
                      {%endfor%}
                  </ul>
                </div></div>
                <div class="col"></div>
                <div class="col"></div>
            </div>
            {%endif%}

            {% for blog in blogs %}
                {% if blog.is_active %}
                    {% include 'Blog/partials/_blog.html' %}
                {% endif %}
            {% endfor %}
        </div>
    </div>
    {%if blogs and blogs|length > 10%}
    <div class="row mb-3">
        <div class="col">
            {%include 'Blog/partials/_pagination.html'%}
        </div>
    </div>
    {%endif%}
</div>

{% endblock %}