{%extends 'base.html'%}
{% load static %}
{% block title %}Elektroblog | Məqalə yaz  {% endblock %}
{% block content %}
	<div class="container mb-3" id="id_meqale_yaz">
		<form method="post" enctype="multipart/form-data">
			{% csrf_token %}
			{{form.media}}
			<div class="mb-3">
				{% for field in form%}
					<label class="form-label">{{field.label}}:</label>
					{{field}}<br>
				{%endfor%}
			</div>
		    <input class="btn btn-success" type="submit" value="Yadda saxla">
		</form>
	</div>
{% endblock %}

{%block scripts%}
	<script type="text/javascript" src="{%static 'Blog/script/meqaleyaz.js'%}"></script>
{%endblock%}