{%extends 'base.html'%}
{% load static %}
{% block title %}Elektroblog | Məqalə yaz  {% endblock %}
{% block content %}
	<div class="container mb-5" id="id_meqale_yaz">
		<div class="row">
			<div class="col-md-2 col-lg-2"></div>
			<div class="col-md-8 col-lg-8">
				<form method="post" enctype="multipart/form-data">
					{% csrf_token %}
					{%if errorMessage%}
						<div>{{errorMessage}}</div>
					{%endif%}
					{{form.media}}
					{{form.as_p}}
				    <input class="btn btn-success" type="submit" value="Yadda saxla">
				</form>
			</div>
			<div class="col-md-2 col-lg-2"></div>
		</div>
	</div>
{% endblock %}
{%block scripts%}
<script src="{%static 'Blog/script/meqale_yaz.js'%}"></script>
{%endblock%}