{% load static %}
<!DOCTYPE html>
<html lang="az" id="id_html">
    <head>
        <meta charset="UTF-8">
        <meta name="google-site-verification" content="-_1nwzK3l8H9--O9xN61hAW3nL6xRW630YThny5PZt0" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        {%block meta_elements%}{%endblock%}
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" href="{% static 'img/brand.png' %}" type="image/x-icon">
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" >
        <link rel="stylesheet" href="{% static 'css/root.css' %}">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Round"
      rel="stylesheet">
      <link rel="stylesheet" href="{%static 'css/dark_mode.css'%}">
        {% block styles %}{% endblock%}
        <title>{%block title%}{%endblock%}</title>
    </head>
    <body id="id_body">
        {% include 'partials/_navbar.html' %}
        
        {% block content %}{% endblock %}
        

        {%block scripts%}{%endblock%}
        <script src="{% static 'scripts/bootstrap.bundle.min.js' %}"></script>
        <script src="{%static 'scripts/dark_mode.js'%}"></script>
        <script src="{%static 'scripts/root.js'%}"></script>
    </body>
</html>